.navbarrrr {
  background: rgb(26, 72, 72);
  background: radial-gradient(
    circle,
    rgba(26, 72, 72, 1) 0%,
    rgba(3, 3, 3, 1) 100%
  );
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(26, 72, 72);
  background: radial-gradient(
    circle,
    rgba(26, 72, 72, 1) 0%,
    rgba(3, 3, 3, 1) 100%
  );
  color: #66ff33;
  text-align: center;
}
.logout-button {
  position: fixed;
  margin-left: 92.5%;
}
.login-button {
  position: fixed;
  margin-left: 92.5%;
}
